
main {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.pf {
    float: left;
    margin-right: 50px;
}

.pa {
    float: left;
}

/*DIV*/
.back {
    background-color: #F2BF80; 
    padding: 70px !important;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*ORÇAMENTO*/
.titulo{
    text-align: center;
    text-decoration: underline;
}


/*VALOR TOTAL*/
.dollar {
    width: 25px;
    height: 25px;
    margin-right: 50px;
    margin-top:5px;
    margin-left: 12px;
    float: left;
}

.valor{
    font-size: 30px;
}

/*MENU E PRODUTO*/

.menu {
    width:50px;
    height:50px;
    margin-top: 40px;
}

.produto {
    margin-top: 50px !important;
    margin-left: 50px;
}

/*FORMA DE PAGAMENTO*/

.titulop {
    margin-top: 60px;
    margin-bottom: 40px;
}

.fontp { 
    margin-left: 40px;
    text-align: center;
}

.pi {
    margin-left: 40px;
}


/*BUTÃO*/

a {
    text-decoration: none;
}

button {
    color: white; 
    background-color: #F28705;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;

}