body{
    background-color: #EAEDED;
}

main {
    font-family: 'Inter', sans-serif;
}

/*DIV PAI*/
.container {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

#pai {
    background-color: #F2BF80;
    margin: auto;
    max-width: 600px;
    min-height: 900px;
}

/*MARGIN TOP DIVS*/
#item {
 margin: 3em 0 0 0;
}

/*TÍTULO*/
h1{
    text-align: center;
    margin-bottom: 0;
}

#linhah {
    width: 5em;
    height: 5em;
}

/*ÍCONES DE VALOR E MENU*/
#icon {
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 0.5em;
}

#menu {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10em;
}

/*VALOR TOTAL*/
#total {
    font-size: 30px;
    margin-left: 2em;
}

/*TABELA*/
td {
    text-align: center;
    width: 10em;
    padding: 1em;
    margin-left: 8em;
}

/*FORMA DE PAGAMENTO*/

#linha {
    height: 30px; 
    margin-top: 12px; 
    display: flex; 
    float: left
}

h3{
    margin-left: 2em;
}

#posicao {
    display: flex;
    float: left;
}

#check {
    width: 80px; 
    height: 80px;
}

.radio-image label > input{
    visibility: hidden;
}

.radio-image label > input + img{
    cursor:pointer;
    padding: 1em;
}
.radio-image label > input:checked + img{
    border-radius: 50%;
    background-color: white;
}

/*BOTÃO*/
a {
    text-decoration: none;
    text-align: center;
    padding: 1em;
    color: white; 
    background-color: #F28705;
    border-radius: 10px;
    margin: 5em auto 2em auto;
    max-width: 16em;
}

